<!-- Login page-->
<section>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-stretch">
            <!-- Background animation-->
            <div class="bg-animation col-md-6 col-lg-6 d-sm-none d-none d-md-flex"></div>
            <!-- Login form-->
            <div class="long col-sm-10 col-md-6 col-lg-6">
                <div class="row d-flex justify-content-center align-items-center h-full">
                    <div class="col-12 col-sm-12 col-md-9 col-lg-7 mt-5 mb-1 box px-4">
                        <br><br>
                        <img src="assets/img/logo.svg" alt="TheSneakersMob's logo" class="logo">
                        <!-- Login form section-->
                        <form action="#">
                            <!-- Username/Password/Login button -->
                            <input type="text" class="form-control bg-ultralight-gray mt-3" placeholder="Username or email">
                            <input type="text" class="form-control bg-ultralight-gray mt-2" placeholder="Password">
                            <button class="btn bg-black text-white full mt-3" href="#">Login</button>
                        </form>
                        <div class="d-flex mt-2">
                            <div class="col-5"><hr></div>
                            <div class="col-2"><P class="text-center">OR</P></div>
                            <div class="col-5"><hr></div>
                        </div>
                        <!-- Facebook login button -->
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="btn btn-primary full d-flex justify-content-center" href="#">
                            <i class="text-white fab fa-facebook"></i>
                                Log in with Facebook
                            </a>
                        </div>
                        <!-- Forgot password link-->
                        <p class="small text-center mt-3"><a href="#" class="no-decoration">Forgot password?</a></p>
                        <!-- Sign up link-->
                        <div class="mt-5 mb-5">
                            <p class="text-center"> Don't have an account? <a routerLink="/sign-up" class="bold no-decoration">Sign up</a></p>
                        </div>
                    </div>
                    <!-- Footer section-->
                    <footer class="row mt-sm-5 mt-lg-1">
                        <div class="col-12 d-flex justify-content-center">
                            <p class="small mt-3"><a class="text-dark no-decoration" href="#">FAQ</a> -
                            <a class="text-dark no-decoration" href="#">Term and privacy</a></p>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p class="small"><a class="text-dark no-decoration" href="#">© 2021 El Negro Studios Projects</a></p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
