<!-- Sign Up page-->
<section>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-stretch">
            <!-- Background animated column-->
            <div class="bg-black col-md-6 col-lg-6 d-sm-none d-none d-md-flex">
                <!-- Video loop background -->
                <video loop src="assets/video/pexels-media-7669223.mp4" autoplay="autoplay" muted="muted" class="bg-video w-100"></video>
                <div class="logo-video">
                    <img src="assets/img/logo-white.png" alt="" style="width: 40%;">
                </div>
            </div>
            <!-- Login form-->
            <div class="long col-sm-10 col-md-6 col-lg-6">
                <div class="row d-flex justify-content-center align-items-center h-full">
                    <div class="col-12 col-sm-12 col-md-9 col-lg-7 mt-1 mb-1 box px-4">
                        <!-- Show Logo for mobiles design -->
                        <div class="col-12 mb-5 d-sm-none">
							<img src="assets/img/logo.svg" alt="TheSneakersMob's logo" class="logo">
						</div>

                         <div *ngIf="step == 0">
                            <h4 class="bold text-center mt-5 mb-0 pt-5">Join the Mob</h4>
                            <h4 class="bold text-center mb-4">Join to the TheSneakersMob</h4>
                             <!-- Sign up with email button-->
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="btn bg-black text-white full d-flex justify-content-center" (click)="signupWithEmail()">
                                    Continue with Email
                                </a>
                            </div>
                            <!-- OR -->
                            <div class="d-flex mt-2">
                                <div class="col-5"><hr></div>
                                <div class="col-2"><p class="text-center">OR</p></div>
                                <div class="col-5"><hr></div>
                            </div>
                            <!-- Sign up with facebook button-->
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="btn btn-primary full d-flex justify-content-center" href="#">
                                <i class="text-white fab fa-facebook"></i>
                                    Continue with Facebook
                                </a>
                            </div>
                            <!-- Login section -->
                            <div class="mt-4 mb-5">
                                <p class="text-center"> Already have an account? <a routerLink="/login" class="bold text-primary no-decoration">Log in</a></p>
                            </div>
                        </div>
                        <!-- Sign up form section-->
                        <!-- Email forms -->
                        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <div *ngIf="step >= 1">
                                <!-- Progress bar -->
                                <div class="d-flex">
                                    <ul id="progressbar" class="list-inline mx-auto justify-content-center">
                                        <li [ngClass]="step >= 1 ? 'active ' : 'inactive'">Email Details</li>
                                        <li [ngClass]="step >= 2 ? 'active' : 'inactive'">Password Details</li>
                                        <li [ngClass]="step == 3 ? 'active' : 'inactive'">Personal Details</li>
                                    </ul>
                                </div>
                            </div>
                            <fieldset *ngIf="step == 1">
                                <h4 class="bold mb-0">Welcome!</h4>
                                <h4 class="bold mb-0">First things first...</h4>
                                <h6 class="text-light-gray">You can always changes later.</h6>
                                <div>
                                    <h6 class="bold mt-3">What's your Email?</h6>
                                    <input type="text" formControlName="email" name="email" class="form-control bg-ultralight-gray mt-1" placeholder="Enter a email" required>
                                    <div *ngIf="email.errors && email.touched" class="small mt-1">
                                        <p *ngIf="email.hasError('required')" class="text-danger">Email is required</p>
                                        <p *ngIf="email.hasError('email')" class="text-danger">Invalid email</p>
                                    </div>
                                    <h6 class="bold mt-4">Confirm your Email</h6>
                                    <input type="text" formControlName="confirmEmail" name="confirm-email" class="form-control bg-ultralight-gray mt-1" placeholder="Confirm your email" required>
                                    <div *ngIf="confirmEmail.errors && confirmEmail.touched" class="small mt-1">
                                        <p *ngIf="confirmEmail.hasError('required')" class="text-danger">Please confirm you email address</p>
                                        <p *ngIf="confirmEmail.hasError('email')" class="text-danger">Invalid email</p>
                                        <p *ngIf="confirmEmail.errors.mustMatch" class="text-danger">Confirm email didn't match</p>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <!-- Back button -->
                                    <div class="col-6 d-flex justify-content-start align-items-center">
                                        <a class="btn bg-light-gray mt-4 px-4" (click)="back()">BACK</a>
                                    </div>
                                    <!-- Next button -->
                                    <div class="col-6 d-flex justify-content-end align-items-center">
                                        <a class="btn bg-black text-white mt-4 px-4" *ngIf="step != 4" (click)="next()">NEXT</a>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Password forms -->
                            <fieldset *ngIf="step == 2">
                                <h4 class="bold mb-0">Let's create a password</h4>
                                <h6 class="text-light-gray">You can always changes later.</h6>
                                <div>
                                    <h6 class="bold mt-3">Password</h6>
                                    <input type="password" formControlName="password" name="password" class="form-control bg-ultralight-gray mt-1" placeholder="Enter a password">
                                    <div *ngIf="password.errors && password.touched" class="small mt-1">
                                        <p *ngIf="password.hasError('required')" class="text-danger">Password is required</p>
                                        <p *ngIf="password.hasError('minlength')" class="text-danger">Password at least 8 </p>
                                    </div>
                                    <h6 class="bold mt-4">Confirm your password</h6>
                                    <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control bg-ultralight-gray mt-1" placeholder="Confirm your password">
                                    <div *ngIf="confirmPassword.errors && confirmPassword.touched" class="small mt-1">
                                        <p *ngIf="confirmPassword.hasError('required')" class="text-danger">Password is required</p>
                                        <p *ngIf="confirmPassword.hasError('minlength')" class="text-danger">Password at least 8 </p>
                                        <p *ngIf="confirmPassword.errors.mustMatch" class="text-danger">Confirm password didn't match</p>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <!-- Back button -->
                                    <div class="col-6 d-flex justify-content-start align-items-center">
                                        <a class="btn bg-light-gray mt-4 px-4" (click)="back()">BACK</a>
                                    </div>
                                    <!-- Next button -->
                                    <div class="col-6 d-flex justify-content-end align-items-center">
                                        <a class="btn bg-black text-white mt-4 px-4" (click)="next()">NEXT</a>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Username forms -->
                            <fieldset *ngIf="step == 3">
                                <h4 class="bold mb-0">Let finish</h4>
                                <h4 class="bold mb-0">Tell us about you</h4>
                                <h6 class="text-light-gray">You can always changes later.</h6>
                                <div>
                                    <h6 class="bold mt-3">What's your complete name?</h6>
                                    <input type="text" formControlName="fullName" name="name"class="form-control bg-ultralight-gray mt-1" (keypress)="onKeypressEvent($event)" placeholder="Enter your full name">
                                    <div *ngIf="fullName.errors && fullName.touched">
                                        <p *ngIf="fullName.hasError('required')" class="text-danger small mt-1">Full name is required</p>
                                    </div>

                                    <h6 class="bold mt-3">Display name?</h6>
                                    <input type="text" formControlName="username" name="username" class="form-control bg-ultralight-gray mt-1" placeholder="Enter an username">
                                    <div *ngIf="username.errors && username.touched" class="small mt-1">
                                        <p *ngIf="username.hasError('required')" class="text-danger">An username is required</p>
                                        <p *ngIf="username.hasError('maxlength')" class="text-danger">Username max 10 characters </p>
                                        <p *ngIf="username.hasError('minlength')" class="text-danger">Username at least 5 </p>
                                    </div>
                                    <h6 class="bold mt-3">Where do you live?</h6>
                                    <!-- Country forms -->
                                    <select name="country" formControlName="location" name="location" class="form-select mt-2" aria-label="Default select example" required>
                                        <option value="">Country</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia</option>
                                        <option value="BA">Bosnia and Herzegowina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Cote d'Ivoire</option>
                                        <option value="HR">Croatia (Hrvatska)</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard and Mc Donald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran (Islamic Republic of)</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libyan Arab Jamahiriya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macau</option>
                                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="AN">Netherlands Antilles</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Reunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint LUCIA</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SK">Slovakia (Slovak Republic)</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SH">St. Helena</option>
                                        <option value="PM">St. Pierre and Miquelon</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="US">United States</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands (British)</option>
                                        <option value="VI">Virgin Islands (U.S.)</option>
                                        <option value="WF">Wallis and Futuna Islands</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                    <div *ngIf="location.errors && location.touched">
                                        <p *ngIf="location.hasError('required')" class="text-danger small mt-1">Please choose your country</p>
                                    </div>
                                    <!--
                                        <p class="text-black mt-2"><small>These information will appears on your profile</small></p>
                                    -->
                                    <p class="text-light-gray mt-2">
                                    <small>
                                        By clicking in "Finish" you agree with TheSneakersMob
                                        <a href="#" class="text-black no-decoration">Terms of Use</a> and
                                        <a href="#" class="text-black no-decoration">Policy Privacy.</a>
                                    </small>
                                    </p>
                                </div>
                                <div class="row justify-content-end">
                                    <!-- Back button -->
                                    <div class="col-6 d-flex justify-content-start align-items-center">
                                        <a class="btn bg-light-gray mt-1 px-4" (click)="back()">BACK</a>
                                    </div>
                                    <!-- Submit button -->
                                    <div class="col-6 d-flex justify-content-end align-items-center">
                                        <button class="btn bg-black text-white mt-1 px-4" type="submit">FINISH</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Footer section-->
                    <footer class="row mt-sm-5 mt-lg-1">
                        <div class="col-12 d-flex justify-content-center">
                            <p class="small mt-3"><a class="text-dark no-decoration" href="#">FAQ</a> -
                            <a class="text-dark no-decoration" href="#">Term and privacy</a></p>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p class="small"><a class="text-dark no-decoration" href="#">© 2021 El Negro Studios Projects</a></p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>

