<section>
    <div class="row">
        <div class="row1 col-12">
            <img src="assets/img/logo_sellers.png" alt="" class="logo">
            <div class="row">
                <div class="p1 col-sm-5 col-lg-6">
                    <h1 class="text-justify col-sm-12 col-lg-12">Sell or auction your clothing in the same place and one better way.</h1>
                    <br><p class="text-justify col-sm-12 col-lg-12 fs-5">
                        Join to the unique Fashion marketplace where the Sellers decide between 
                        Sell or auction at the same place. You decide the best way for you.
                    </p>
                    <br><h6 class="btn-getstarted">GET STARTED</h6>
                </div>
                <div class="col-sm-4 col-lg-3 offset-sm-1 offset-lg-2">
                    <img src="assets/img/landing_1.png" alt="" class="img1">
                </div>            
            </div>
        </div>
        <div class="row2 col-12">
            <div class="row p2 justify-content-center">
                <h1 class="text-center col-12">Your clothing. Your buyers.</h1>
                <h1 class="text-center col-12">Your money. Always together.</h1>
                <p class="text-justify col-6 fs-6">
                    We offer the best tools for you can sell/auction much better 
                    and control all your orders once sent to your buyers. All in one place.
                </p>
                <div class="text-center">
                    <button type="button" class="btn btn-login">BE SNEAKERMOB</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div id="slider" class="carousel slide" data-bs-ride="carousel">
                <div class="row">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row slide1">
                                <div class="col-sm-6 col-lg-4 offset-lg-1">
                                    <div class="col-lg-4">
                                        <img src="assets/img/slide_1.png" alt="" class="img2">
                                    </div>
                                </div>
                                <div class="p3 col-sm-6 col-lg-6">
                                    <h1>Control your money anytime</h1>
                                    <br><p class="text-justify fs-5">
                                        There is nothing better that have all your own money controlled, when
                                        it enters. On TheSneakersMob you can check all your money received 
                                        from your buyerswith your own dashboard and send it to your account anytime.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row slide2">
                                <div class="col-sm-6 col-lg-4 offset-lg-1">
                                    <div class="col-lg-4">
                                        <img src="assets/img/slide_2.png" alt="" class="img2">
                                    </div>
                                </div>
                                <div class="p3 col-sm-6 col-lg-6">
                                    <h1>Ship your clothing ANYWHERE</h1>
                                    <br><p class="text-justify fs-5">
                                        TheSneakersMob is available around 9+ countries around the world 
                                        (will be availablein more countries soon). You can choose your shipping 
                                        price and where you want ship it and your new buyers will arrive soon. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row slide3">
                                <div class="col-sm-6 col-lg-4 offset-lg-1">
                                    <div class="col-lg-4">
                                        <img src="assets/img/slide_3.png" alt="" class="img2">
                                    </div>
                                </div>
                                <div class="p3 col-sm-6 col-lg-6">
                                    <h1>No Buyers Scammers you money it's secured</h1>
                                    <br><p class="text-justify fs-5">
                                        Never will scammed again. Once sent your clothing to your 
                                        buyers They will have 14 days (about the shipping time) for confirm 
                                        their item if it's received or not, if They don't confirm it on that 
                                        time, automatically your money it's yours! with no refund chance for the buyer.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row4 col-12">
            <img src="assets/img/landing_2.jpeg" alt="" class="img-fluid img3">
            <div class="row justify-content-center col-lg-12">
                <div class="col-lg-8 offset-lg-1">
                    <h1>Stop paying high fees by sell your clothing.</h1>
                </div>
            </div>
            <div class="row justify-content-center col-lg-12">
                <p class="text-center fs-5">Direct. Cheap. Transparent</p>
                <div class="col-lg-2">
                    <h1 class="text-center number">6%</h1>
                    <h6 class="text-center">By Item Sold</h6>
                    <div class="text-center">
                        <button type="button" class="btn btn-login">SELL NOW</button>
                    </div>
                </div>
                <div class="col-lg-2">
                    <h1 class="text-center number">8%</h1>
                    <h6 class="text-center">By Item Auctioned</h6>
                    <div class="text-center">
                        <button type="button" class="btn btn-login">AUCTION NOW</button>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row5 col-12">
            <div class="row align-items-center p4 col-lg-12 ">
                <div class="col-lg-8">
                    <h1>Streetwear. Vintage. Y2K. Designer</h1>
                    <h1 class="t1">Anything you got on your closeth just sell it and let us do the heavy lifting.</h1>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <button type="button" class="btn btn-login fs-4">SIGN UP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>