<!-- Navbar header -->
<nav class="row nav-header align-items-center justify-content-between">
    <!-- Responsive Menu icon-->
    <div class="col-auto d-md-none" id="open">
        <i class="bi bi-list"></i>
    </div>
    <!-- Logo -->
    <div class="col-7 col-sm-5 col-md-4 col-lg-3">
        <img src="assets/img/logo-beta.svg" alt="logo TheSneakersMob" class="logo">
    </div>
    <!-- Responsive Search icon-->
    <div class="col-auto d-md-none position-relative" id="search">
        <i class="bi bi-search px-2" style="font-size: 25px;"></i>
    </div>
    <!-- Search bar -->
    <div class="col-md-4 d-md-block d-none mb-4">
        <i class="fas fa-search"></i>
        <input type="text" class="form-control input-s bg-ultralight-gray" placeholder="Search">
    </div>
    <div class="col-md-3 d-none d-md-block">
        <!-- Signup Button -->
        <button routerLink="/sign-up" class="btn btn-signup md-px-1 bold">Sell Now</button>
        <!-- Login Button -->
        <button routerLink="/login" class="btn btn-login bg-black text-white px-4 mx-2 bold">Login</button>
    </div>
</nav>
