<!-- Navbar item's -->
<div class="row d-none d-md-block">
    <nav class="navbar navbar-expand-md">
        <!-- Sex page item's -->
        <div class="d-md-flex p-20 offset-lg-1">
            <div class="sex-items">
                <p class="fb"><a class="bold text-white no-decoration" href="#">Man</a></p>
            </div>
            <p class="fb"><a class="text-white no-decoration" href="">Women</a></p>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Sections Item's -->
            <ul class="navbar-nav me-auto center-items">
                <div class="dropdown">
                    <button class="btn text-white no-decoration dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Shop by Category
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" routerLink="/discover">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Sell Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Auction Listing</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
