<section id="zoom-section">
    <div class="container-fluid">
        <app-nav-bar></app-nav-bar>
        <div class="row bg-black mt-4 px-0">
            <app-nav-items></app-nav-items>
        </div>
    </div>
    <section id="gallery" class="mt-5">
        <article class="mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/shirt.jpg" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/accesories-women.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/bottoms-women.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/accesories-men.jpg" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/bottoms-men.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/outerwear-men.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/footwear-men.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/tops-men.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/footwear-women.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
        <article class="mt-3 mb-3">
            <a href="" class="img-discover relative-container no-decoration">
                <img src="assets/img/outerwear-women.png" alt="" class="bg-img-discover img-fluid border-rounded">
                <a class="btn-img-discover">
                    <i class="fab fa-gratipay fa-2x"></i>
                </a>
                <div class="text-img-discover">
                    <p class="text-white bold">Title</p>
                    <p class="text-white bold"><small>size N</small></p>
                    <p class="text-white bold"><small>sex</small></p>
                    <p class="text-white bold"><small>type</small></p>
                </div>
                <div class="price-img-discover">
                    <h5 class="text-white bold">$Price</h5>
                </div>
            </a>
            <a href="" class="no-decoration">
                <img src="assets/img/icons/user-icon.png" alt="" class="mt-2">
                <p class="username text-black px-5">Username</p>
            </a>
        </article>
    </section>
</section>

