/* You can add global styles to this file, and also import other style files */

/* Import styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('~bootstrap-icons/font/bootstrap-icons.css');

/* Global styles*/
.full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.bg-black {
    background: black;
}

.bg-light-gray {
    background: #a6a6a6;
}

.bg-ultralight-gray {
    background: #dfdbdb;
}

.bg-white {
    background: #ffffff;
}

.bg-light-blue {
    background: rgb(189, 224, 254);
}

.bold {
    font-weight: 700;
}

.text-black {
    color: black;
}

.text-light-gray {
    color: #a6a6a6;
}

.text-mustard {
    color: rgb(223, 134, 67);
}

.text-blue {
    color: rgb(80, 160, 255);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

p, a, button, li, h1, h2, h3, h4, h5, h6 {
	font-family: Inter;
    color: black;
}

.no-decoration {
    text-decoration: none;
}

.border-rounded {
    border-radius: 25px;
}

.logo {
    width: 100%;
}

.relative-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Facebook button*/
.fa-facebook {
    font-size: 25px;
    margin-right: 10px;
}
/* Zoom */
#zoom-section {
    zoom: 80%;
}

/* For Sell / Auction sections*/
.card {
    margin: auto;
    width: 15rem;
}

.card-img-top {
    height: 225px;
    width: 225px;
    margin: auto;
    border-radius: 10px;
}
